fastapi
uvicorn
Pillow
accelerate
huggingface_hub
requests
pydantic
colpali-engine
stamina
tqdm
ollama
pdf2image
PyMuPDF
qdrant-client
python-multipart
transformers
sentence-transformers
pandas 
rouge-score 
nltk
scikit-learn
evaluate
anthropic